In [ ]:
# Kata code war solutions for Python

In [ ]:
s = "hi i am abhish"
s_split = s.split()
thisList =[]
for x in s_split:
  
  thisList.append(x.capitalize())

final = " ".join(thisList)

print(s.capitalize())
print(final)

Hi i am abhish
Hi I Am Abhish

### kata 1
Jaden Smith, the son of Will Smith, is the star of films such as The Karate Kid (2010) and After Earth (2013). Jaden is also known for some of his philosophy that he delivers via Twitter. When writing on Twitter, he is known for almost always capitalizing every word. For simplicity, you'll have to capitalize each word, check out how contractions are expected to be in the example below.

Your task is to convert strings to how they would be written by Jaden Smith. The strings are actual quotes from Jaden Smith, but they are not capitalized in the same way he originally typed them.

Example:

Not Jaden-Cased: "How can mirrors be real if our eyes aren't real"
Jaden-Cased:     "How Can Mirrors Be Real If Our Eyes Aren't Rea

In [ ]:
def toJadenCase(string):
    return ' '.join(x.capitalize() for x in string.split())

In [ ]:
import string
toJadenCase = string.capwords

### kata 2
Implement a function that adds two numbers together and returns their sum in binary. The conversion can be done before, or after the addition.

The binary number returned should be a string.

Examples:(Input1, Input2 --> Output (explanation)))

1, 1 --> "10" (1 + 1 = 2 in decimal or 10 in binary)
5, 9 --> "1110" (5 + 9 = 14 in decimal or 1110 in binary)

In [ ]:
def add_binary(a,b):
  num = a + b
  binaryNum = "{0:b}".format(int(num))
  #statment = (f"{a} + {b} = {num} in decimal or {binaryNum} in binary")
  return binaryNum

  
print(add_binary(5,9))

5 + 9 = 14 in decimal or 1110 in binary

In [ ]:
#Method 1: bin for binary
def add_binary(a,b):
    return bin(a+b)[2:]
add_binary(10,12)

'10110'

In [ ]:
#Method 2:
def add_binary(a,b):
    return '{0:b}'.format(a + b)

### Kata 3

Create a function that returns the sum of the two lowest positive numbers given an array of minimum 4 positive integers. No floats or non-positive integers will be passed.

For example, when an array is passed like [19, 5, 42, 2, 77], the output should be 7.

[10, 343445353, 3453445, 3453545353453] should return 3453455.

In [ ]:
def sum_two_smallest_numbers(numbers):
  numbersList = sorted(numbers)
  return numbersList[0] + numbersList[1]
sum_two_smallest_numbers([8,3,4,5,6])

7

In [ ]:
#method 1:
def sum_two_smallest_numbers(numbers):
    return sum(sorted(numbers)[:2])

In [ ]:
#method 2

import heapq
def sum_two_smallest_numbers(numbers):
    return sum(heapq.nsmallest(2, numbers))

### Kata 4
A Narcissistic Number is a positive number which is the sum of its own digits, each raised to the power of the number of digits in a given base. In this Kata, we will restrict ourselves to decimal (base 10).

For example, take 153 (3 digits), which is narcisstic:

    1^3 + 5^3 + 3^3 = 1 + 125 + 27 = 153
and 1652 (4 digits), which isn't:

    1^4 + 6^4 + 5^4 + 2^4 = 1 + 1296 + 625 + 16 = 1938

In [ ]:
def narcissistic( value ):
    # Code away
  strValue = str(value)
  lenghtValue = len(strValue)
  sum = 0
  for element in strValue:
    sum = sum + int(element)**lenghtValue
  if(sum == value):
    return True
  else: return False

narcissistic(371)

True

In [ ]:
# method 1:
def narcissistic(value):
    return value == sum(int(x) ** len(str(value)) for x in str(value))

In [ ]:
# method 2:
def narcissistic( value ):
    vstr = str(value)
    nvalue = sum(int(i)**len(vstr) for i in vstr)
    return nvalue == value

### Kata 5
Count the number of Duplicates
Write a function that will return the count of distinct case-insensitive alphabetic characters and numeric digits that occur more than once in the input string. The input string can be assumed to contain only alphabets (both uppercase and lowercase) and numeric digits.

Example
"abcde" -> 0 # no characters repeats more than once
"aabbcde" -> 2 # 'a' and 'b'
"aabBcde" -> 2 # 'a' occurs twice and 'b' twice (`b` and `B`)
"indivisibility" -> 1 # 'i' occurs six times
"Indivisibilities" -> 2 # 'i' occurs seven times and 's' occurs twice
"aA11" -> 2 # 'a' and '1'
"ABBA" -> 2 # 'A' and 'B' each occur twice

In [ ]:
def duplicate_count(text):
    # Your code goes here
    txtlist = []
    txtlenght = len(text)
    for element in text:
      txtlist.append(element) 
    
    return txtlist[2]

duplicate_count("adfds")

'f'

In [ ]:
from collections import OrderedDict 
  
def duplicate_count(text):
    text = text.lower()
    textlist = []
    for element in str(text): textlist.append(element)

    listres = []
    res =  [(ele, text.count(ele)) for ele in text]
    listres =  list(OrderedDict(res).items())
    sum = 0
    for i in range(len(listres)):
      if(listres[i][1] > 1): sum += 1
    
    return sum

2

In [ ]:
#method 1: 
def duplicate_count(s):
  return len([c for c in set(s.lower()) if s.lower().count(c)>1])

In [ ]:
#method 2:
def duplicate_count(text):
    seen = set()
    dupes = set()
    for char in text:
        char = char.lower()
        if char in seen:
            dupes.add(char)
        seen.add(char)
    return len(dupes)